@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Mono', monospace;
}
body{ 
    height: 100vh;
    background-image: url(/img/fondo-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.juego__container{
    border-radius: 2rem;
    width: 85%;
    height: 80vh;
    background: #1d355773;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.juego__palabra-txt{
    color: #ffff;
    font-size: 2rem;
}
.juego__palabra{
    color: #ffff;
    background:#e63946;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 1rem;
}
.respuesta__txt{
    color: #ffff;
    font-size: 1.2rem;
}
.respuesta__idioma{
    color: black;
    background: #ffb703;
    padding: 0 0.5rem;
}
.juego__input{
    outline: none;
    border-radius: 5rem;
    font-size: 1.2rem;
    padding: 0.1rem;
    text-align: center;
    border: none;
    background: rgba(255, 255, 255, 0.5);
}
.btn{
    color: #ffff;
    text-align: center;
    width: 10rem;
    border-radius: 3rem;
    padding: 0.5rem;
}
.verificar{
    margin-top: 1.5rem;
    background: #1982c4;
}
.seguir{
    background: #f5b916;
}
.resultado{
    font-size: 2rem;
}